#parte-pedido {
    display: grid;
    grid-template-columns: auto 500px;
    grid-template-areas: "pizza carrinho"
                         "bebida carrinho";
}

#pedido-pizza{
    grid-area: pizza;
}

#pedido-bebida{
    grid-area: bebida;
}

#carrinho{
    grid-area: carrinho;
    background-color: lightgray;
}

img{
    height: 250px;
}